name: Tests
"on":
  pull_request: {}
  push:
    branches:
    - main
jobs:
  unit:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version-file: .java-version
        distribution: temurin
    - uses: gradle/wrapper-validation-action@v3
    - uses: gradle/gradle-build-action@v3
      with:
        arguments: build
    - uses: codecov/codecov-action@v5
